<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <h1>Editing Plane</h1>
    </div>  
</div>
<%= render 'form', plane: @plane %>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <%= link_to 'Show', @plane %> |
        <%= link_to 'Back', planes_path %>
    </div>  
</div>

